<div class="adminPageTop">
    <div class="row">
        <div class="col-lg-10">
            <h1>
                <mat-icon>airplay</mat-icon>
                {{ course.title_EN }}
            </h1>
            <p>
                by: {{ course.createdBy }}
                <span class="badge badge-info">
                    {{ course.createdAt | date:'medium' }}
                </span>
            </p>
            <button mat-raised-button color="primary" (click)="onRefresh()" [disabled]="loading">
                {{ loading ? ('COMMON.LOADING' | translate) : ('COMMON.REFRESH' | translate) }}
            </button>
        </div>
        <div class="col-lg-2">
            <mat-slide-toggle [color]="colorAccent" [checked]="course.isPublished" id="isPublished" name="isPublished"
                class="mt-1" [disabled]="publishing || course.deletedAt" (change)="onPublish(course.isPublished)">
                {{ !publishing ? ('COURSE.PUBLISHED' | translate) : ('COMMON.LOADING' | translate)}}
            </mat-slide-toggle>
            <p class="mt-3 badge badge-success" *ngIf="course.isPublished">
                {{ course.publishedAt | date:'medium' }}
            </p>
        </div>
    </div>
    <hr>
</div>

<div class="adminPageBottom mb-5">
    <div class="detailsDiv mat-elevation-z8" *ngIf="!loading">

        <div class="detailsNav">
            <a [routerLink]="['./']" routerLinkActive="active">
                <fa-icon [icon]="faInfoCircle"></fa-icon>
                {{ 'COURSE.INFO' | translate }}
            </a>
            <a [routerLink]="['sections', course.id]" routerLinkActive="active">
                <fa-icon [icon]="faPallet"></fa-icon>
                {{ 'COURSE.SECTIONS' | translate }}
            </a>
            <a [routerLink]="['class', course.id]" routerLinkActive="active">
                <fa-icon [icon]="faPeopleCarry"></fa-icon>
                {{ 'COURSE.CLASS' | translate }}
            </a>
            <a [routerLink]="['tags', course.id]" routerLinkActive="active">
                <fa-icon [icon]="faTags"></fa-icon>
                {{ 'ADMINISTRATION.TAGS_MANAGEMENT.TAGS' | translate }}
            </a>
            <a [routerLink]="['comments', course.id]" routerLinkActive="active">
                <fa-icon [icon]="faComment"></fa-icon>
                {{ 'COURSE.COMMENTS' | translate }}
            </a>
            <a [routerLink]="['likes', course.id]" routerLinkActive="active">
                <fa-icon [icon]="faThumbsUp"></fa-icon>
                {{ 'COURSE.LIKES' | translate }}
            </a>
        </div>

        <router-outlet></router-outlet>
    </div>

    <div class="detailsDiv detailsDivLoading mat-elevation-z8" *ngIf="loading">
        <div class="detailsNav"></div>
    </div>
</div>