<div class="adminPageTop">
    <div class="row">
        <div class="col-lg-10">
            <h1>
                <mat-icon>airplay</mat-icon>
                {{ course.title_EN }}
            </h1>
            <p>
                by: {{ course.createdBy }}
                <span class="badge badge-info">
                    {{ course.createdAt | date:'medium' }}
                </span>
            </p>
        </div>
        <div class="col-lg-2">
            <mat-slide-toggle [color]="colorAccent" [checked]="course.isPublished" 
                                id="isPublished" name="isPublished"
                                class="mt-1"
                                [disabled]="publishing || course.deletedAt"
                                (change)="onPublish(course.isPublished)">
                {{ !publishing ? 'Published' : 'Publishing...' }}
            </mat-slide-toggle>
            <p class="mt-3 badge badge-success" *ngIf="course.isPublished">
                {{ course.publishedAt | date:'medium' }}
            </p>
        </div>
    </div>
    <hr>
</div>

<div class="adminPageBottom mb-5">
    <mat-tab-group mat-stretch-tabs class="tabs mat-elevation-z4" backgroundColor="primary">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">info</mat-icon>
                Course Info
            </ng-template>
            <div class="spacer"></div>
            <app-course-info [trashed]="trashed"></app-course-info>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">tab</mat-icon>
                Sections
            </ng-template>
            <div class="spacer"></div>
            <app-course-sections [courseId]="course.id" [sections]="course.sections"></app-course-sections>
        </mat-tab>
        
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">library_books</mat-icon>
                Sessions
            </ng-template>
            <div class="spacer"></div>
           <app-course-sessions [courseId]="course.id"></app-course-sessions>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">loyalty</mat-icon>
                Tags
            </ng-template>
            <div class="spacer"></div>
            <app-course-tags [tags]="course.tags" [courseId]="course.id"></app-course-tags>
        </mat-tab>

    </mat-tab-group>
</div>