<div class="row full-width center" (click)="onRefresh()">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-11">
                <h1>
                    <mat-icon>loyalty</mat-icon>
                    Course Tags
                </h1>
            </div>
            <div class="col-lg-1">
                <mat-progress-spinner color="accent" mode="indeterminate" [diameter]="35" *ngIf="updating">
                </mat-progress-spinner>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-6 mb-3">
                <h3>
                    <strong>
                        <fa-icon [icon]="faPlus"></fa-icon>
                        Add
                    </strong>
                </h3>
                <hr>
                <div class="tag newTag" *ngFor="let tag of otherTags">
                    <fa-icon [icon]="faTag"></fa-icon>
                    {{ tag.name }}
                    <a (click)="onAddRemoveTag(tag.id, 'add')">
                        <fa-icon [icon]="faPlusCircle" class="ml-1"></fa-icon>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <h3>
                    <strong>
                        <fa-icon [icon]="faTrash"></fa-icon>
                        Remove
                    </strong>
                </h3>
                <hr>
                <div class="tag currentTag" *ngFor="let tag of tags">
                    <fa-icon [icon]="faTag"></fa-icon>
                    {{ tag.name }}
                    <a (click)="onAddRemoveTag(tag.id, 'remove')">
                        <fa-icon [icon]="faTimesCircle" class="ml-1"></fa-icon>
                    </a>
                </div>
            </div>
        </div>


        <div class="clearfix"></div>

    </div>
</div>