nav {
   height: 70px;
    background-color: purple;
    font-size: 16px;
    box-shadow: 0 2px 4px 2px rgb(31, 0, 31);
}

nav li {
    margin: 0 10px 0 10px;
}

input {
    background-color: rgb(110, 2, 110);
    border-color: purple;
    
}
input:focus {
    background-color: rgb(100, 0, 100);
    color: lightgrey;
    border-color: rgb(138, 0, 138);
}
