nav {
    height: 70px;
    background-color: purple;
    font-size: 16px;
    box-shadow: 0 2px 4px 4px rgb(58, 0, 58);
}


nav a {
    margin-right: 20px;
}

.admin-sidenav-content {
    /* display: flex; */
    /* padding-bottom: 150px; */
    flex: 1;
}

.admin-sidenav {
    user-select: none;
    width: 100%;
    background-color: rgba(24, 0, 88, .9);
    padding: 15px;
    z-index: 99999;
}

.admin-container .admin-sidenav a, .admin-container .admin-sidenav span, .adminNavColor {
    color: lightgrey;
    font-size: 18px;
    text-align: center;
}

.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.menu-button.rotated {
    transform: rotate(180deg);
}

.submenu {
    overflow-y: auto;
    height: 0;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
}

.submenu.expanded {
    transform: scaleY(1);
    height: auto;
}

.menu-spacer {
    flex: 1 1 auto;
}

.admin-is-mobile .admin-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.admin-is-mobile .admin-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.hidden {
    display: none;
}