<div class="container content0 adminPageBottom">
    <div class="row">
        <div class="col-lg-10">
            <h1>
                <fa-icon [icon]="faEdit"></fa-icon>
                {{ 'CHANGE_PASSWORD.CHANGE_PASSWORD' | translate }}
            </h1>
        </div>
        <div class="col-lg-2">
            <button type="submit" type="submit" mat-raised-button color="primary" class="btn-block"
                [disabled]="!form.valid || updating" (click)="f.onSubmit(undefined)">
                {{ updating ? ('COMMON.SAVING' | translate ): ('COMMON.SAVE' | translate ) }}
            </button>
        </div>
    </div>

    <hr>

    <div class="mb-3" *ngIf="errors">
        <div class="alert alert-danger error" *ngFor="let error of errors">
            {{ error }}
        </div>
    </div>

    <div class="alert alert-success mb-3 text-center" *ngIf="updated">
        {{ 'CHANGE_PASSWORD.PASSWORD_CHANGED' | translate }}.
    </div>

    <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" #f="ngForm">
            <mat-form-field class="full-width" appearance="legacy">
                <mat-label translate>CHANGE_PASSWORD.CURRENT_PASSWORD</mat-label>
                <input matInput formControlName="currentPassword" required
                    [type]="hideCurrentPwd ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hideCurrentPwd = !hideCurrentPwd"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPwd">
                    <mat-icon>{{hideCurrentPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error translate>VALIDATION.REQUIRED</mat-error>
            </mat-form-field>

            <div formGroupName="password">
                <mat-form-field class="full-width mt-3" appearance="legacy">
                    <mat-label translate>CHANGE_PASSWORD.NEW_PASSWORD</mat-label>
                    <input matInput formControlName="password" required [type]="hideNewPwd ? 'password' : 'text'"
                        placeholder="Please enter a new password">
                    <button type="button" mat-icon-button matSuffix (click)="hideNewPwd = !hideNewPwd"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPwd">
                        <mat-icon>{{hideNewPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error translate>VALIDATION.PASSWORD_LENGTH</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width mt-3" appearance="legacy">
                    <mat-label translate>CHANGE_PASSWORD.CONFIRM_PASSWORD</mat-label>
                    <input matInput formControlName="cpassword" required [type]="hideConfirmPwd ? 'password' : 'text'"
                        placeholder="Please confirm your new password">
                    <button type="button" mat-icon-button matSuffix (click)="hideConfirmPwd = !hideConfirmPwd"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPwd">
                        <mat-icon>{{hideConfirmPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-error class="small" *ngIf="!form.controls.password.valid && form.controls.password.touched">
                    <mat-error translate>VALIDATION.PASSWORDS_MATCH</mat-error>
                </mat-error>
            </div>
        </form>
    </div>
</div>