<div class="container content0">
    <div class="row">
        <div class="col-lg-10">
            <h1>
                <fa-icon [icon]="faEdit"></fa-icon>
                Change Password
            </h1>
        </div>
        <div class="col-lg-2">
            <button type="submit" type="submit" mat-raised-button color="primary" class="btn-block"
                [disabled]="!form.valid || updating" (click)="f.onSubmit()">
                {{ updating ? 'Saving...' : 'Save' }}
            </button>
        </div>
    </div>

    <hr>

    <div class="mb-3" *ngIf="errors">
        <div class="alert alert-danger error" *ngFor="let error of errors">
            {{ error }}
        </div>
    </div>

    <div class="alert alert-success mb-3 text-center" *ngIf="updated">
        Password Changed Successfully.
    </div>

    <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" #f="ngForm">
            <mat-form-field class="full-width" appearance="legacy">
                <mat-label>Current Password</mat-label>
                <input matInput formControlName="currentPassword" required [type]="hideCurrentPwd ? 'password' : 'text'"
                    placeholder="Please enter your current password">
                <button type="button" mat-icon-button matSuffix (click)="hideCurrentPwd = !hideCurrentPwd"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPwd">
                    <mat-icon>{{hideCurrentPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>This field is required</mat-error>
            </mat-form-field>

            <div formGroupName="password">
                <mat-form-field class="full-width mt-3" appearance="legacy">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="password" required [type]="hideNewPwd ? 'password' : 'text'"
                        placeholder="Please enter a new password">
                    <button type="button" mat-icon-button matSuffix (click)="hideNewPwd = !hideNewPwd"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPwd">
                        <mat-icon>{{hideNewPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>Password length must be at least 8 charcters</mat-error>
                </mat-form-field>

                <mat-form-field class="full-width mt-3" appearance="legacy">
                    <mat-label>Confirm your password</mat-label>
                    <input matInput formControlName="cpassword" required [type]="hideConfirmPwd ? 'password' : 'text'"
                        placeholder="Please confirm your new password">
                    <button type="button" mat-icon-button matSuffix (click)="hideConfirmPwd = !hideConfirmPwd"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPwd">
                        <mat-icon>{{hideConfirmPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-error class="small" *ngIf="!form.controls.password.valid && form.controls.password.touched">
                    Passwords do not match
                </mat-error>
            </div>
        </form>
    </div>
</div>