<div class="adminPageTop">

    <h1>
        <fa-icon [icon]="faTrash"></fa-icon>
        {{ 'COMMON.TRASH_BIN' | translate }} - {{ 'QUIZZES.QUIZZES' | translate }} [ {{count}} ]
    </h1>

    <hr>

    <div class="row ">
        <div class="col-lg-10 mb-3">
            <mat-form-field appearance="legacy">
                <mat-label>
                    <fa-icon [icon]="faSearch"></fa-icon>
                    {{ 'COMMON.SEARCH' | translate }}
                </mat-label>
                <input matInput (keyup)="applyFilter($event)" [placeholder]="'COMMON.BY_ANY_FIELD' | translate ">
            </mat-form-field>
        </div>
        <div class="col-lg-2 mb-3">
            <button mat-raised-button class="btn-block mt-1" color="accent" (click)="onRefresh()">
                {{ 'COMMON.REFRESH' | translate }}
            </button>
        </div>
    </div>
</div>

<div class="adminPageBottom">
    <div *ngIf="errors">
        <div class="alert alert-danger" *ngFor="let error of errors">
            <strong>{{error}}</strong>
        </div>
    </div>

    <div class="dataTable-container mat-elevation-z8">
        <div class="dataTable-loading-shade" *ngIf="loadingQuizzes">
            <mat-spinner *ngIf="loadingQuizzes"></mat-spinner>
        </div>


        <div class="dataTable-table-container">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON.ID' | translate }} </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <!-- Title en Column -->
                <ng-container matColumnDef="title_EN">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{ 'COMMON.TITLE' | translate }} </th>
                    <td mat-cell *matCellDef="let row"> {{row.title_EN}} </td>
                </ng-container>

                <!-- Is Published Column -->
                <ng-container matColumnDef="isPublished">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{ 'COMMON.PUBLISHED' | translate }}  </th>
                    <td mat-cell *matCellDef="let row">
                        <span class="text-success" *ngIf="row.isPublished">
                            <fa-icon [icon]="faCheck"></fa-icon>
                        </span>
                        <span class="text-danger" *ngIf="!row.isPublished">
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </span>
                    </td>
                </ng-container>

                <!-- Deteted By Column -->
                <ng-container matColumnDef="deletedBy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'COMMON.DELETED_BY' | translate }} </th>
                    <td mat-cell *matCellDef="let row"> {{row.deletedBy}} </td>
                </ng-container>

                <!-- Deteted at  Column -->
                <ng-container matColumnDef="deletedAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{ 'COMMON.DELETED_AT' | translate }} </th>
                    <td mat-cell *matCellDef="let row"> {{row.deletedAt | date:'medium'}} </td>
                </ng-container>


                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        {{ 'COMMON.ACTIONS' | translate }} 
                    </th>
                    <td mat-cell *matCellDef="let row" class="pl-3">

                        <a mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>settings</mat-icon>
                        </a>
                        <mat-menu #menu="matMenu" [overlapTrigger]="false">
                            <button class="dropdown-item" style="cursor: pointer;" (click)="onRestoreQuiz(row.id);">
                               <fa-icon [icon]="faReply"></fa-icon>
                                {{ 'COMMON.RESTORE' | translate }} 
                            </button>
                            <button class="dropdown-item" style="cursor: pointer;" (click)="onDeleteQuiz(row.id);">
                                <fa-icon [icon]="faTimes"></fa-icon>
                                {{ 'COMMON.DELETE' | translate }} 
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>