a:hover {
    text-decoration: none;
}
.filePreview {
    width: 150px;
    height: 150px;
    /* box-shadow: 3px 3px 3px grey; */
    margin: 10px;
    cursor: pointer;
}

.filePreview:hover{
  opacity: .8;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 12px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
}
  

   /* Structure */
.dataTable-container {
    position: relative;
    min-height: 200px;
  }
  
  .dataTable-table-container {
    position: relative;
    min-height: 600px;
    max-height: 500px;
    overflow: auto;
    background-color: rgb(228, 228, 228);
  }
  
  table {
    width: 100%;
  }
  
  .dataTable-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dataTable-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  

  .msgRow:hover {
    background-color: rgb(206, 206, 206);
    cursor: pointer;
  }


