<div *ngFor="let i of [].constructor(9)" class="course-div mat-elevation-z8">
    <mat-card class="course-card">
        <img mat-card-image src="../../../assets/images/placeholder.png" alt="Placeholder">
        <mat-card-header>
            <div mat-card-avatar class="course-header-image"></div>
            <mat-card-title class="title">&nbsp;</mat-card-title>
            <mat-card-subtitle class="subtitle">
                &nbsp;
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-lg-6">
                    <p> <strong>&nbsp;</strong></p>
                    <div class="levelDiv bg-warning mat-elevation-z4">
                        &nbsp;
                    </div>
                </div>
                <div class="col-lg-6">
                    <p> <strong>&nbsp; </strong></p>
                    <div class="langDiv bg-teal mat-elevation-z4">
                        &nbsp;
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <br>
        </mat-card-content>
        <mat-card-actions class="actions">
            &nbsp;
        </mat-card-actions>
    </mat-card>
</div>