<div>
    <h2>
        {{ isFavoritesList ? ('DASHBOARD.FAVORITE_COURSES' | translate) : ('DASHBOARD.ENROLLED_COURSES' | translate) }}
    </h2>
    <hr>

    <div *ngIf="!errors && loading">
        <app-loader-home-course [count]='4'></app-loader-home-course>
        <div class="clearfix"></div>
    </div>

    <div *ngIf="courses.length === 0 && (loaded || loadedFavorites)">
        <div class="alert alert-info text-center notFoundMsg">
            <h2 translate>COURSES.NO_COURSES_FOUND</h2>
        </div>
    </div>

    <div *ngIf="!errors && !loading">
        <div *ngFor="let course of courses" class="course-div mat-elevation-z8">
            <mat-card class="course-card">
                <img mat-card-image [src]="getSanitizedImage(course.imagePath)" [alt]="course.title_EN">
                <div class="rate mat-elevation-z8">
                    <p class="text-center">
                        <star-rating [value]="course.ratings.totalRating" [totalstars]="5" checkedcolor="gold"
                            uncheckedcolor="pink" size="25px" readonly="true" style="pointer-events: none;">
                        </star-rating>
                    </p>
                </div>
                <div class="progress mat-elevation-z8" *ngIf="!isFavoritesList">
                    <em> {{ 'COURSE.PROGRESS' | translate }}: {{ getCourseProgress(course.id) }}</em>
                </div>
                <mat-card-header>
                    <div mat-card-avatar class="course-header-image"></div>
                    <mat-card-title>
                        <span *ngIf="currentLang === 'en'">{{ course.title_EN }}</span>
                        <span *ngIf="currentLang === 'fr'">{{ course.title_FR }}</span>
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{ course.createdBy }} - {{ course.publishedAt | date:'short' }}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-lg-6">
                            <p> <strong>{{ 'COURSE.LEVEL' | translate }} </strong></p>
                            <div class="levelDiv bg-warning mat-elevation-z4">
                                {{ 'LEVELS.' + course.level.toUpperCase() | translate }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p> <strong>{{ 'COURSE.LANGUAGES' | translate }} </strong></p>
                            <div class="langDiv bg-teal mat-elevation-z4"
                                *ngFor="let lang of course.languages.split('-')">
                                {{ lang }}
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <br>
                </mat-card-content>
                <mat-card-actions class="actions">
                    <div>
                        <a mat-button style="text-transform: uppercase;" *ngIf="currentLang === 'en'"
                            [routerLink]="[ '/categories', course.category.id, course.category.slug ,'course', course.id, course.slug_EN]">
                            {{ 'COURSES.VIEW_COURSE' | translate }}
                        </a>
                        <a mat-button style="text-transform: uppercase;" *ngIf="currentLang === 'fr'"
                            [routerLink]="[ '/categories', course.category.id, course.category.slug_FR ,'course', course.id, course.slug_FR]">
                            {{ 'COURSES.VIEW_COURSE' | translate }}
                        </a>
                    </div>
                    <div>
                        <fa-icon [icon]="faThumbsUp"></fa-icon> {{ course.likes.length }}
                    </div>
                </mat-card-actions>

            </mat-card>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="clearfix"></div>