<div class="container content0">
    <h1>
        <fa-icon [icon]="faQuestion"></fa-icon>    
        {{ 'LOGIN.FORGOT_PASSWORD' | translate }}
    </h1>
    <hr>

    <div *ngIf="errors">
        <div class="alert alert-danger" *ngFor="let error of errors">
            <strong>{{error}}</strong> 
        </div>
    </div>


    <form [formGroup]="resetPwdForm"(ngSubmit)="onSubmit()" *ngIf="!emailSent">
       
        <mat-form-field class="full-width">
            <mat-label translate>COMMON.EMAIL</mat-label>
            <input type="email" matInput formControlName="email" 
                   placeholder="Ex. pat@example.com">
            <mat-error *ngIf="!resetPwdForm.controls.email.valid && resetPwdForm.controls.email.touched" translate>
              VALIDATION.INVALID_EMAIL
            </mat-error>
        </mat-form-field>

        <button 
            type="submit"
            mat-raised-button
            color="primary"
            class="float-right mt-3"
            [disabled]="!resetPwdForm.valid || sending"
            >
            {{ !sending ? ('LOGIN.RESET_PASSWORD' | translate) : ('COMMON.SENDING' | translate) }}
        </button>
    </form>

    <div class="alert alert-success text-center" *ngIf="emailSent">
        <h1>
            <fa-icon [icon]="faCheck"></fa-icon>
            {{ 'LOGIN.SENT_RESET_LINK' | translate }}.
        </h1>
    </div>
</div>