<div class="container content0">
    <h1>
        <fa-icon [icon]="faQuestion"></fa-icon>    
        Forgot my password
    </h1>
    <hr>

    <div *ngIf="errors">
        <div class="alert alert-danger" *ngFor="let error of errors">
            <strong>{{error}}</strong> 
        </div>
    </div>


    <form [formGroup]="resetPwdForm"(ngSubmit)="onSubmit()" *ngIf="!emailSent">
       
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" 
                   placeholder="Ex. pat@example.com">
            <mat-error *ngIf="!resetPwdForm.controls.email.valid && resetPwdForm.controls.email.touched">
              Please enter a valid email address
            </mat-error>
        </mat-form-field>

        <button 
            type="submit"
            mat-raised-button
            color="primary"
            class="float-right mt-3"
            [disabled]="!resetPwdForm.valid || sending"
            >
            {{ !sending ? 'Reset password' : 'Sending...' }}
        </button>
    </form>

    <div class="alert alert-success text-center" *ngIf="emailSent">
        <h1>
            <fa-icon [icon]="faCheck"></fa-icon>
            Password reset link was sent to your email address.
        </h1>
    </div>
</div>