<div class="acdp">
    <div class="container content0 text-center">
        <div class="alert alert-danger text-center alertMsg">
            <h1>{{ 'SECURITY.ACCESS_DENIED' | translate }} !!</h1>
            <p>{{ 'SECURITY.YOU_DONT_HAVE_PERMISSIONS' | translate }}.</p>
            <p>
                {{ 'COMMON.PLEASE' | translate }}
                <a [routerLink]="['/security', 'auth']" [queryParams]="{ 'returnUrl' : returnUrl }">
                    {{ 'LOGIN.LOGIN' | translate }}
                </a>
                {{ 'SECURITY.WITH_REQUIRED_PERMISSIONS' | translate }}.
            </p>
            <p>
                {{ 'SECURITY.OR_RETURN' | translate }}
                <a [routerLink]="['/']">{{ 'HOME.HOME' | translate }}.</a>
            </p>
        </div>
        <img src="../../../assets/images/acd.png" alt="Access Denied" width="300" class="mt-2 alertImg">
    </div>
</div>