<div class="question mb-5" *ngIf="question">
    <h2>
        <strong *ngIf="question.text_EN">
            <span [innerHTML]="getSanitizedHtml(question.text_EN)"></span>
        </strong>
    </h2>
    <div *ngIf="question.imagePath">
        <img [src]="getSanitizedImage(question.imagePath)" alt="no preview" width="100%" height="200">
    </div>
    <div style="display: flex; justify-content: space-between;">
        <p class="text-muted small">
            <em>{{ question.createdBy }} - {{ question.createdAt | date:'medium' }}</em>
        </p>
        <p class="text-muted small">
            <em>{{ question.updatedBy }} - {{ question.updatedAt | date:'medium' }}</em>
        </p>
    </div>
    <div>
        <button mat-raised-button color="primary" class="mr-3" (click)="onBackToQuestions()">
            <fa-icon [icon]="faReply"></fa-icon>
            {{ 'COMMON.BACK' | translate }}
        </button>
    
        <button mat-raised-button color="accent" (click)="onAddAnswer(question.id)" >
            <fa-icon [icon]="faPlusCircle"></fa-icon>
            {{ 'COMMON.ADD' | translate }}
        </button>
    </div>
    <hr>

    <div *ngIf="loadingAs">{{ 'COMMON.LOADING' | translate }}</div>
    <div *ngIf="!loadingAs">
        <ul>
            <li *ngFor="let answer of answers">
                <dl>
                    <dt [class.text-success]="answer.isCorrect"> 
                        <div [innerHTML]="getSanitizedHtml(answer.text_EN)"></div>
                    </dt>
                    <dd class="text-muted small" >
                        <div style="display: flex; justify-content: space-between;">
                            <em>{{ answer.createdBy }} - {{ answer.createdAt | date:'medium' }}</em>
                            <em>{{ answer.updatedBy }} - {{ answer.updatedAt | date:'medium' }}</em>
                        </div>
                        <div>
                            <button class="btn btn-link" (click)="onEditAnswer(answer)">
                                <fa-icon [icon]="faEdit"></fa-icon>
                                {{ 'COMMON.EDIT' | translate }}
                            </button>
                            <button class="btn btn-link text-danger" (click)="onDeleteAnswer(answer.id)">
                                <fa-icon [icon]="faTrashAlt"></fa-icon>
                                {{ 'COMMON.DELETE' | translate }}
                            </button>
                        </div>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>