<div>
    <div *ngIf="loading" translate>COMMON.LOADING</div>
    <div class="adminPageTop" *ngIf="!loading ">
        <div class="row">
            <div class="col-lg-10">
                <h1>
                    <fa-icon [icon]="faEdit"></fa-icon>
                    Quiz:
                    <span *ngIf="currentLang === 'en'">{{ quiz.title_EN }}</span>
                    <span *ngIf="currentLang === 'fr'">{{ quiz.title_FR }}</span>
                </h1>
            </div>
            <div class="col-lg-2">
                <mat-slide-toggle [color]="colorAccent" [checked]="quiz.isPublished" id="isPublished" name="isPublished"
                    class="mt-1" [disabled]="publishing || quiz.deletedAt" (change)="onPublish()">
                    {{ publishing ? ('COMMON.LOADING' | translate) : ( quiz.isPublished ? ('COURSE.PUBLISHED' | translate):  ('COMMON.PULBISH' | translate) )  }}
                </mat-slide-toggle>
            </div>
        </div>

        <div style="display: flex; justify-content: space-between;">
            <p class="text-muted small">
                <em><strong>{{ 'COMMON.CREATED_BY' | translate }}: </strong> {{ quiz.createdBy }} -
                    {{ quiz.createdAt | date:'medium' }}</em>
                <br>
                <em><strong>{{ 'COMMON.UPDATED_BY' | translate }} </strong> {{ quiz.updatedBy }} -
                    {{ quiz.updatedAt | date:'medium' }}</em>
            </p>
            <p class="text-muted small">
                <em *ngIf="quiz.isPublished">
                    {{ quiz.publishDateTime | date:'medium' }}
                </em>
            </p>
        </div>
        <hr>
    </div>

    <div class="adminPageBottom">
        <div class="row" *ngIf="quiz">
            <div class="col-lg-4 mb-3">
                <div class="mat-elevation-z4">
                    <img [src]="getSanitizedImage(quiz.imagePath)" alt="no preview" width="100%" height="150">
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="desc mat-elevation-z4">
                    <strong>{{ 'COURSE.DESCRIPTION' | translate }}:</strong>
                    <div [innerHTML]="getSanitizedHtml(quiz.description_EN)" *ngIf="currentLang === 'en'"></div>
                    <div [innerHTML]="getSanitizedHtml(quiz.description_FR)" *ngIf="currentLang === 'fr'"></div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="info mat-elevation-z4" style="position: relative;">
                    <p>
                        <strong>{{ 'COURSE.LANGUAGES' | translate }}:</strong>
                        {{ quiz.languages }}
                    </p>
                    <p>
                        <strong>{{ 'COURSE.DURATION' | translate }}:</strong>
                        {{ quiz.duration }} mins.
                    </p>
                    <a [routerLink]="['/admin', 'quizzes']" class="btn btn-danger btn-sm "
                        style="position: absolute; bottom:10px; right:5px;">
                        {{ 'COMMON.CLOSE' | translate }}
                    </a>
                </div>
            </div>
        </div>

        <hr>

        <router-outlet></router-outlet>

    </div>
</div>