<div class="regBox">

    <h2>
        <fa-icon [icon]="faRegister"></fa-icon>
        {{ 'REGISTER.REGISTER_NEW_USER' | translate}}
    </h2>
    <hr>

    <div class="alert alert-success text-center" *ngIf="registerd">
        <div class="registerMsg">
            <h1 translate>REGISTER.THANK_REGISTER</h1>
            <h3 translate>REGISTER.CONFIRMATION_EMAIL_SENT</h3>
        </div>
    </div>

    <div class="mb-3" *ngIf="errors">
        <div class="alert alert-danger error" *ngFor="let error of errors">
            {{ error }}
        </div>
    </div>

    <form class="form-horizontal" [formGroup]="regForm" (ngSubmit)="onSubmit()" *ngIf="!registerd">

        <mat-vertical-stepper #linearVerticalStepper="matVerticalStepper" formArrayName="formArray" [linear]="true"
            class="p-2" style="background: rgb(255, 251, 251);">
            <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
                <ng-template matStepLabel>
                    <div translate>REGISTER.FILL_OUT_YOUR_NAME</div>
                </ng-template>

                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field class="full-width" appearance="legacy">
                            <mat-label translate>REGISTER.FIRSTNAME</mat-label>
                            <input matInput formControlName="firstName" required>
                            <mat-error>{{ 'VALIDATION.REQUIRED' | translate }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field class="full-width" appearance="legacy">
                            <mat-label translate>REGISTER.LASTNAME</mat-label>
                            <input matInput formControlName="lastName" required>
                            <mat-error>{{ 'VALIDATION.REQUIRED' | translate }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <button mat-button matStepperNext>{{ 'COMMON.NEXT' | translate }}</button>
                </div>
            </mat-step>


            <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
                <ng-template matStepLabel>
                    <div translate>REGISTER.FILL_OUT_YOUR_EMAIL</div>
                </ng-template>
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label translate>COMMON.EMAIL</mat-label>
                    <input matInput placeholder="Ex. laurnace@example.com" formControlName="email">
                    <mat-error translate>VALIDATION.INVALID_EMAIL</mat-error>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>{{ 'COMMON.BACK' | translate }} </button>
                    <button mat-button matStepperNext>{{ 'COMMON.NEXT' | translate }}</button>
                </div>
            </mat-step>

            <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
                <ng-template matStepLabel>
                    <div translate>REGISTER.FILL_OUT_YOUR_COUNTRY</div>
                </ng-template>
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label translate>REGISTER.COUNTRY</mat-label>
                    <mat-select formControlName="country" name="country" id="country" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let c of listCountries" [value]="c.name">
                            {{c.name}}
                        </mat-option>
                    </mat-select>

                    <mat-error>{{ 'VALIDATION.REQUIRED' | translate }}</mat-error>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>{{ 'COMMON.BACK' | translate }} </button>
                    <button mat-button matStepperNext>{{ 'COMMON.NEXT' | translate }}</button>
                </div>
            </mat-step>

            <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
                <ng-template matStepLabel>
                    <div translate>REGISTER.FILL_OUT_YOUR_GENDER</div>
                </ng-template>
                <!-- <mat-form-field class="full-width"> -->
                <mat-radio-group formControlName="gender">
                    <mat-radio-button class="ml-2" value="male">{{ 'REGISTER.MALE' | translate }}</mat-radio-button>
                    <mat-radio-button class="ml-2" value="female">{{ 'REGISTER.FEMALE' | translate }}</mat-radio-button>
                    <mat-radio-button class="ml-2" value="custom">{{ 'REGISTER.OTHER' | translate }}</mat-radio-button>
                </mat-radio-group>
                <!-- <mat-error>This field is required.</mat-error> -->
                <!-- </mat-form-field> -->
                <div>
                    <button mat-button matStepperPrevious>{{ 'COMMON.BACK' | translate }} </button>
                    <button mat-button matStepperNext>{{ 'COMMON.NEXT' | translate }}</button>
                </div>
            </mat-step>


            <mat-step formGroupName="4" [stepControl]="formArray?.get([4])">
                <ng-template matStepLabel>
                    <div translate>REGISTER.CHOOSE_PASSWORD</div>
                </ng-template>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field class="full-width" appearance="legacy">
                            <mat-label translate>REGISTER.ENTER_A_PASSWORD</mat-label>
                            <input matInput formControlName="password" required [type]="hidePwd ? 'password' : 'text'">
                            <button type="button" mat-icon-button matSuffix (click)="hidePwd = !hidePwd"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePwd">
                                <mat-icon>{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error translate>VALIDATION.PASSWORD_LENGTH</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field class="full-width" appearance="legacy">
                            <mat-label>Confirm your password</mat-label>
                            <input matInput formControlName="cpassword" required
                                [type]="hideCpwd ? 'password' : 'text'">
                            <button type="button" mat-icon-button matSuffix (click)="hideCpwd = !hideCpwd"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCpwd">
                                <mat-icon>{{hideCpwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <mat-error class="small ml-3 mt-2" translate
                        *ngIf="!formArray?.get([4]).valid && formArray?.get([4]).touched">VALIDATION.PASSWORDS_MATCH
                    </mat-error>

                </div>
                <div>
                    <button mat-button matStepperPrevious>{{ 'COMMON.BACK' | translate }} </button>
                    <button mat-button matStepperNext>{{ 'COMMON.NEXT' | translate }}</button>

                </div>
            </mat-step>

            <mat-step formGroupName="5" [stepControl]="formArray?.get([5])">
                <ng-template matStepLabel>
                    <div translate>REGISTER.TERMS</div>
                </ng-template>
                <div>
                    <mat-slide-toggle [color]="colorPrimary" formControlName="terms">
                    </mat-slide-toggle>
                    {{ 'REGISTER.ACCEPT_TERMS' | translate }}
                    <a style="cursor: pointer; color:blue;" (click)="onOpenTerms()">
                        {{ 'REGISTER.TERMS' | translate }}
                    </a>

                </div>
                <div>
                    <button mat-button matStepperPrevious>{{ 'COMMON.BACK' | translate }} </button>

                    <button mat-raised-button color="accent" matStepperNext
                        [disabled]="!regForm.valid || loading || regForm.value.formArray[5].terms === false">
                        {{ !loading ? ('REGISTER.REGISTER' | translate) : ('COMMON.LOADING' | translate) }}
                    </button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </form>
</div>