@media(min-width: 993px) {
    .container-fluid {
        padding-left: 50px;
        padding-right: 50px;
    }
}


.course-card {
    width: 330px;
    height: 430px;
}

.course-card img {
    width: 330px;
    height: 200px;
}

.course-div {
    float: left;
    margin: 0 20px 25px 0;
    animation: courseDivAnim .4s ease-in-out forwards;
}

.course-header-image {
    background-image: url('../../assets/images/course.png');
    background-size: cover;
}

.course-card .actions {
    position: absolute;
    bottom: 10px;
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.course-card .actions div:nth-child(2){
    position: absolute;
    bottom: 10px;
    right: 0;
}

.course-card .actions a:hover {
    text-decoration: none;
    color: grey;
    background-color: rgb(236, 236, 236);
}



.course-card .langDiv, 
.course-card .levelDiv {
    float: left;
    margin: 0 5px 5px 0;
    padding: 8px;
    border-radius: 10px;
    font-size: 12px;
}


.notFoundMsg {
    animation: courseDivAnim .4s ease-in-out forwards;
}

@keyframes courseDivAnim {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



@media (max-width: 993px){
    .course-card {
        width: 330px;
        height: 500px;
    }
    
}


