<div class="container-fluid content0">
    <h1 class="adminPageTop">
        <mat-icon>dashboard</mat-icon>
        {{ 'DASHBOARD.MY_DASHBOARD' | translate }}
    </h1>
    <hr>

    <div class="dashNav">
        <div class="mat-elevation-z4 primary">
            <a [routerLink]="['/member', 'dashboard']">
                {{ 'DASHBOARD.DASHBOARD' | translate }}
            </a>
        </div>
        <div class="mat-elevation-z4 coral">
            <a [routerLink]="['courses']" [queryParams]="{'fetch': 'enrolled'}">
                {{ 'DASHBOARD.ENROLLED_COURSES' | translate }}
            </a>
        </div>
        <div class="mat-elevation-z4 info">
            <a [routerLink]="['courses']" [queryParams]="{'fetch': 'favorites'}">
                {{ 'DASHBOARD.FAVORITE_COURSES' | translate }}
            </a>
        </div>
        <div class="mat-elevation-z4 success">
            <a [routerLink]="['saved-sessions']">
                {{ 'DASHBOARD.SAVED_SESSIONS.SAVED_SESSIONS' | translate }}
            </a>
        </div>
        <div class="mat-elevation-z4 darkcyan">
            <a [routerLink]="['quizzes']">
                {{ 'DASHBOARD.MY_QUIZZES.MY_QUIZZES' | translate }}
            </a>
        </div>
        <div class="mat-elevation-z4 crimson">
            <a [routerLink]="['reports']">
                {{ 'DASHBOARD.REPORTS.REPORTS' | translate }}
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>
    
    <div *ngIf="errors">
        <div class="alert alert-danger text-center" *ngFor="let error of errors">
            {{ error }}
        </div>
    </div>

    <div>
        <!-- <app-member-courses></app-member-courses> -->
        <router-outlet></router-outlet>
    </div>
</div>

<div class="clearfix"></div>