<div class="loaderCourseInfo">
    <!-- <img [src]="course.imagePath" [alt]="course.title_EN" width="400px"> -->
    <h1>
        &nbsp;
    </h1>
    <div style="display: flex; justify-content: space-between;">
        <p>
            &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
    </div>
    <hr>

    <div>
        <div class="tag mat-elevation-z4" *ngFor="let tag of [].constructor(12)">
           &nbsp;
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="row mt-2">
        <div class="col-lg-6">
            <h3>
                &nbsp;
            </h3>
        </div>
        <div class="col-lg-6">
            <h3>
                &nbsp;
            </h3>
        </div>
    </div>

    <div class="textContainer">
        &nbsp;
    </div>

    <div class="textContainer">
        &nbsp;
    </div>

    <div class="textContainer">
        &nbsp;
    </div>
</div>