<h2 mat-dialog-title class="text-danger">
    <fa-icon [icon]="faBug"></fa-icon>
    Report a bug.
</h2>
<hr>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <mat-form-field class="full-width" appearance="legacy">
            <mat-label>Your Name:</mat-label>
            <input matInput formControlName="name" placeholder="Please enter your full name" required>
            <mat-error>This field is required</mat-error>
        </mat-form-field>

        <div class="mt-3">
            <mat-label>Severity:</mat-label>
            <mat-radio-group formControlName="severity">
                <mat-radio-button class="ml-2" *ngFor="let severity of listSeverities" [value]="severity.level">
                    {{severity.name}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <mat-form-field class="full-width mt-3" appearance="legacy">
            <mat-label>Description:</mat-label>
            <textarea matInput rows="4" formControlName="description" placeholder="Please enter a detailed description"
                required></textarea>
            <mat-error>This field is required</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="float-right mt-3">
        <button type="button" mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid ">Send</button>
    </div>
</form>