
<div *ngIf="!loadingCourse && course" class="courseInfo">

    <div class="rating">
        <div class="row">
            <div class="col-lg-8">
                <h3><strong translate>COURSE.RATE_COURSE</strong></h3>
                <hr>
                <p class="small text-muted" *ngIf="!isAuthenticated" translate>COURSE.LOGIN_TO_RATE_COURSE</p>
                <p class="small text-muted" *ngIf="isAuthenticated" translate>FOOTER.CHOOSE_STARS</p>
                <p class="mt-4">
                    <star-rating [value]="courseRateUserValue" [totalstars]="5" checkedcolor="gold"
                        uncheckedcolor="pink" size="70px" [readonly]="!isAuthenticated" (rate)="onRate($event)"
                        [class.loadingRate]="loadingRate">
                    </star-rating>
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <div class="total mat-elevation-z4 mt-3" style="margin: 0 auto;" [class.loadingRate]="loadingRate">
                    <span [style.color]="courseTotalRatingN >= 2 ? 'green' : 'crimson'"> {{ courseTotalRating }}</span>
                    <span>/5</span>
                    <p class="small text-muted">({{courseRatingsCount}})</p>
                </div>
                <p class="mt-2">
                    <star-rating [value]="courseTotalRating" [totalstars]="5"
                        [checkedcolor]="courseTotalRatingN >= 2 ? 'green' : 'crimson'" uncheckedcolor="pink" size="30px"
                        readonly="false" style="pointer-events: none;"></star-rating>
                </p>

            </div>
        </div>
    </div>

    <div>
        <div class="tag mat-elevation-z4" *ngFor="let tag of course.tags">
            <fa-icon [icon]="faTag"></fa-icon> {{ tag.name }}
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="row mt-2">
        <div class="col-lg-6">
            <h3>
                <strong translate> COURSE.LEVEL </strong>:  {{ 'LEVELS.' + course.level.toUpperCase() | translate }}
            </h3>
        </div>
        <div class="col-lg-6">
            <h3>
                <strong translate> COURSE.DURATION</strong>: {{ course.duration }} mins.
            </h3>
        </div>
    </div>

    <div>
        <h3 class="alert alert-info"><strong translate>COURSE.LANGUAGES</strong></h3>
        <ul>
            <li *ngFor="let lang of course.languages.split('-')">
                {{ lang }}
            </li>
        </ul>
    </div>

    <div>
        <h3 class="alert alert-info"><strong translate>COURSE.PREREQUISITES</strong></h3>
        <div *ngIf="currentLang === 'en'" [innerHtml]="getSanitizedHtml(course.prerequisites_EN)" style="padding-left: 23px;"></div>
        <div *ngIf="currentLang === 'fr'" [innerHtml]="getSanitizedHtml(course.prerequisites_FR)" style="padding-left: 23px;"></div>
    </div>

    <div>
        <h3 class="alert alert-info"><strong translate>COURSE.DESCRIPTION</strong></h3>
        <div *ngIf="currentLang === 'en'" [innerHtml]="getSanitizedHtml(course.description_EN)" style="padding-left: 23px;"></div>
        <div *ngIf="currentLang === 'fr'" [innerHtml]="getSanitizedHtml(course.description_FR)" style="padding-left: 23px;"></div>
    </div>
</div>

<div *ngIf="loadingCourse">
    <app-loader-course-info></app-loader-course-info>
</div>