<!-- <div class="courseInfoNav" *ngIf="!loadingCourse">
    <a [routerLink]="currentUrl" routerLinkActive="active">
        Course Info
    </a>

    <a [routerLink]="[currentUrl, 'comments']" [queryParams]="{'courseId': courseId}" routerLinkActive="active">
        Comments
    </a>
</div> -->

<div *ngIf="!loadingCourse" class="courseInfo">

    <div>
        <div class="tag mat-elevation-z4" *ngFor="let tag of course.tags">
            <fa-icon [icon]="faTag"></fa-icon> {{ tag.name }}
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="row mt-2">
        <div class="col-lg-6">
            <h3>
                <strong>Level: </strong> {{ course.level }}
            </h3>
        </div>
        <div class="col-lg-6">
            <h3>
                <strong>Duration: </strong> {{ course.duration }} mins.
            </h3>
        </div>
    </div>

    <div>
        <h3 class="alert alert-info"><strong>Languages:</strong></h3>
        <ul>
            <li *ngFor="let lang of course.languages.split('-')">
                {{ lang }}
            </li>
        </ul>
    </div>

    <div>
        <h3 class="alert alert-info"><strong>Prerequisites:</strong></h3>
        <div [innerHtml]="getSanitizedHtml(course.prerequisites_EN)" style="padding-left: 23px;"></div>
    </div>

    <div>
        <h3 class="alert alert-info"><strong>Description:</strong></h3>
        <div [innerHtml]="getSanitizedHtml(course.description_EN)" style="padding-left: 23px;"></div>
    </div>
</div>

<div *ngIf="loadingCourse">
    <app-loader-course-info></app-loader-course-info>
</div>