<div class="adminPageTop ">
    <div class="row">
        <div class="col-lg-11">
            <h1>
                <mat-icon>dashboard</mat-icon>
                {{ 'DASHBOARD.DASHBOARD' | translate }}
            </h1>
        </div>
        <div class="col-lg-1">
            <button mat-raised-button color="primary" (click)="onRefresh()">
                <mat-icon>autorenew</mat-icon>
            </button>
        </div>
    </div>
    <hr>
</div>

<div class="adminPageBottom">
    <div class="row">
        <div class="col-md-3">
            <div class="card-counter primary">
                <mat-icon class="icon">view_quilt</mat-icon>
                <span [countUp]="categroiesCount" class="count-numbers">0</span>
                <span class="count-name" translate>ADMINISTRATION.CATEGORIES.CATEGORIES</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter coral">
                <mat-icon class="icon">airplay</mat-icon>
                <span [countUp]="coursesCount" class="count-numbers">0</span>
                <span class="count-name" translate>COURSES.COURSES</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter cadetblue">
                <mat-icon class="icon">comment</mat-icon>
                <span [countUp]="commentsCount" class="count-numbers">0</span>
                <span class="count-name" translate>COURSE.COMMENTS</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter crimson">
                <mat-icon class="icon">thumb_up</mat-icon>
                <span [countUp]="likesCount" class="count-numbers">0</span>
                <span class="count-name" translate>COURSE.LIKES</span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card-counter info">
                <mat-icon class="icon">loyalty</mat-icon>
                <span [countUp]="tagsCount" class="count-numbers">0</span>
                <span class="count-name" translate>ADMINISTRATION.TAGS_MANAGEMENT.TAGS</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter success">
                <mat-icon class="icon">message</mat-icon>
                <span [countUp]="messagesCount" class="count-numbers">0</span>
                <span class="count-name" translate>ADMINISTRATION.MESSAGING.INBOX</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter danger">
                <mat-icon class="icon">mail_outline</mat-icon>
                <span [countUp]="sentEmailsCount" class="count-numbers">0</span>
                <span class="count-name" translate>ADMINISTRATION.MESSAGING.SENT_EMAILS</span>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card-counter burlywood">
                <mat-icon class="icon">supervised_user_circle</mat-icon>
                <span [countUp]="usersCount" class="count-numbers">0</span>
                <span class="count-name" translate>ADMINISTRATION.USERS.USERS</span>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="card-counter darkorange">
                <mat-icon class="icon">dynamic_feed</mat-icon>
                <span [countUp]="directoriesCount" class="count-numbers">0</span>
                <span class="count-name" translate>ADMINISTRATION.FILE_MANAGEMENT.DIRECTORIES</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter darkcyan">
                <mat-icon class="icon">file_copy</mat-icon>
                <span [countUp]="filesCount" class="count-numbers">0</span>
                <span class="count-name" translate>ADMINISTRATION.FILE_MANAGEMENT.FILES</span>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card-counter tomato">
                <mat-icon class="icon">feedback</mat-icon>
                <span [countUp]="reportsCount" class="count-numbers">0</span>
                <span class="count-name" translate>DASHBOARD.REPORTS.REPORTS</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter purple">
                <mat-icon class="icon">help</mat-icon>
                <span [countUp]="quizzesCount" class="count-numbers">0</span>
                <span class="count-name" translate>QUIZZES.QUIZZES</span>
            </div>
        </div>
    </div>

    <hr>

    <app-notifications></app-notifications>

    <hr>

    <app-app-ratings></app-app-ratings>

    <div class="mb-5"></div>
</div>