.page {
    padding-top: 70px;
    display: flex;
    height: 80vh;
}  

.sideNav {
    width: 250px;
    height: 100%;
    background-color: rgb(138, 138, 138);
    flex: 1;
    padding: 10px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0px 0px 4px 4px rgb(48, 48, 48);
}

.content {
    flex: 5;
    margin-top: 70px;
    
}

