<div class="container content0">
    <div class="row">
        <div class="col-lg-10">
            <h1>
                <fa-icon [icon]="faQuestionCircle"></fa-icon>
                {{quizTitle}}
            </h1>
        </div>
        <div class="col-lg-2">
            <button mat-raised-button color="primary" class="btn-block" (click)="onNextQuestion()"
                *ngIf="!questionsFinished">
                Next Question
            </button>
            <button mat-raised-button color="accent" class="btn-block" *ngIf="questionsFinished">
                Submit Quiz
            </button>
        </div>
    </div>

    <hr>

    <div *ngIf="!loading">
        <h3>
            <strong> Question {{ currentQuestionIndex + 1 }}:</strong>
        </h3>
        <div [innerHTML]="getSanitizedHtml(questions[currentQuestionIndex].text_EN)"></div>
        <img [src]="getSanitizedImage(questions[currentQuestionIndex].imagePath)"
            *ngIf="questions[currentQuestionIndex].imagePath" width="100%">

        <p class="badge badge-secondary mt-3">Duration: {{ questions[currentQuestionIndex].duration }} mins.</p>
        <hr>

        <strong>Options:</strong>
        <div class="mt-2">
            <mat-radio-group aria-labelledby="answers-radio-group-label" class="answers-radio-group">
                <mat-radio-button class="answers-radio-button"
                    *ngFor="let answer of questions[currentQuestionIndex].answers" [value]="answer.id">
                    <span [innerHTML]="getSanitizedHtml(answer.text_EN)"></span>
                    <img [src]="getSanitizedImage(answer.imagePath)"
                        *ngIf="answer.imagePath" width="100%">
                </mat-radio-button>
            </mat-radio-group>
        </div>

    </div>
</div>