<div class="container">
	<div class="alert alert-secondary">
		<h1 *ngIf="!editMode">
			<fa-icon [icon]="faUserPlus"></fa-icon>
			Create New User
		</h1>

		<h1 *ngIf="editMode">
			<fa-icon [icon]="faUserEdit"></fa-icon>
			Edit User
		</h1>
	</div>

    <div *ngIf="errors">
		<div class="alert alert-danger" *ngFor="let error of errors">
			<strong>{{error}}</strong>
		</div>
    </div>
    
    <div class="alert alert-success text-center" *ngIf="created">
        <strong>User Created</strong>
    </div>

	<form class="form-horizontal" [formGroup]="regForm" (ngSubmit)="onSubmit()">

        <label>Role:</label>
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<!-- <div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input"  id="isAdmin" name="isAdmin" formControlName="isAdmin">Admin
						</label>
					</div> -->

					<mat-slide-toggle
						[color]="colorPrimary"
						[checked]="checked"
						id="isAdmin" 
						name="isAdmin"
						formControlName="isAdmin">
						Admin
					</mat-slide-toggle>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="form-group">
					<!-- <div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input"  id="isAuthor" name="isAuthor" formControlName="isAuthor">Author
						</label>
					</div> -->

					<mat-slide-toggle
						[color]="colorAccent"
						[checked]="checked"
						id="isAuthor" 
						name="isAuthor"
						formControlName="isAuthor">
						Author
					</mat-slide-toggle>
				</div>
			</div>
		</div>

        <div class="form-group">
			<label>First Name:</label>
			<input type="text" name="firstName" id="firstName" placeholder="Enter user's first name" class="form-control" formControlName="firstName">
			<span class="small text-danger" *ngIf="!regForm.controls.firstName.valid && regForm.controls.firstName.touched">
				First name is required
			</span>
		</div>

		<div class="form-group">
			<label>Last Name:</label>
			<input type="text" name="lastName" id="lastName" placeholder="Enter user's last name" class="form-control" formControlName="lastName">
			<span class="small text-danger" *ngIf="!regForm.controls.lastName.valid && regForm.controls.lastName.touched">
				Last name is required
			</span>
		</div>


		<div class="form-group">
			<label>Email:</label>
			<input type="email" name="email" id="email" placeholder="Enter user's email" class="form-control" formControlName="email">
			<span class="small text-danger" *ngIf="!regForm.controls.email.valid && regForm.controls.email.touched">
				Please enter a valid email address
			</span>
        </div>
        
        <div class="form-group">
            <!-- <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="emailConfirmed" name="emailConfirmed" formControlName="emailConfirmed">Email Confirmed
                </label>
			</div> -->
			
			<mat-slide-toggle
				[color]="colorWarn"
				[checked]="checked"
				id="emailConfirmed" 
				name="emailConfirmed"
				formControlName="emailConfirmed">
				Email Confirmed
			</mat-slide-toggle>
        </div>

		<div class="form-group">
			<!-- <label>Country:</label> -->
			<!-- <input type="text" placeholder="Enter your country" class="form-control"> -->
			<!-- <select name="country" id="country" class="form-control" formControlName="country">

				<option value="">Select user's country</option>
				<option [value]="c.name" *ngFor="let c of listCountries">
					{{c.name}}
				</option>
			</select> -->
			<!-- <span class="small text-danger" *ngIf="!regForm.controls.country.valid && regForm.controls.country.touched">
				Country is required
			</span> -->

			<mat-form-field style="width: 100%;">
				<mat-label>Country</mat-label>
				<mat-select formControlName="country" name="country" id="country" required>
				  <mat-option>--</mat-option>
				  <mat-option *ngFor="let c of listCountries" [value]="c.name">
					{{c.name}}
				  </mat-option>
				</mat-select>
				<mat-error *ngIf="!regForm.controls.country.valid && regForm.controls.country.touched">Please choose a country</mat-error>
				
			  </mat-form-field>

			</div>

		<div class="form-group">
			<label>Gender:</label>
			<!-- </label>
			<div class="form-check-inline ml-2">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" value="male" formControlName="gender">Male
				</label>
			</div>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" value="female" formControlName="gender">Female
				</label>
			</div>
			<div class="form-check-inline">
				<label class="form-check-label">
					<input type="radio" class="form-check-input" value="custom" formControlName="gender">Custom
				</label>
			</div> -->

			<mat-radio-group formControlName="gender"  aria-label="Select a gender">
				<mat-radio-button class="ml-2" value="male">Male</mat-radio-button>
				<mat-radio-button class="ml-2" value="female">Female</mat-radio-button>
				<mat-radio-button class="ml-2" value="custom">Custom</mat-radio-button>
			</mat-radio-group>

			<span class="small text-danger" *ngIf="!regForm.controls.gender.valid && regForm.controls.gender.touched">
				Gender is required
			</span>
		</div>

		<div formGroupName="password" *ngIf="!editMode">
			<div class="form-group">
				<label>Password:</label>
				<input type="password" 
					name="password" 
					id="password" 
					placeholder="Enter a password" 
					class="form-control" 
					formControlName="password"
					>
				<span class="small text-danger" *ngIf="!regForm.get('password.password').valid && regForm.get('password.password').touched">
					Password length must be at least 8 charcters
				</span>
			</div>

			<div class="form-group">
				<label>Confirm Password:</label>
				<input type="password" name="cpassword" id="cpassword" placeholder="Re-Enter the password" class="form-control" formControlName="cpassword">

				<span class="small text-danger" *ngIf="!regForm.controls.password.valid && regForm.controls.password.touched">
					Password do not match
				</span>
			</div>

		</div>

		<button type="submit" class="btn btn-primary" [disabled]="!regForm.valid || loading" >
			<span *ngIf="!editMode">{{ !loading ? 'Create' : 'Creating...' }}</span>
			<span *ngIf="editMode">{{ !loading ? 'Save' : 'Saving...' }}</span>
		</button>

		<button
			type="button"
			 class="btn btn-secondary ml-3"
			 (click)="onCancel()">
			Cancel
		</button>

	</form>
</div>
