<!-- <div class="adminNav">
	<nav class="navbar navbar-expand navbar-dark">
		<a class="navbar-brand" style="font-style:italic;" [routerLink]="['/admin', 'dashboard']">
			<fa-icon [icon]="faAdmin"></fa-icon>
			Administation
		</a>
		<ul class="navbar-nav">
			<li class="nav-item dropdown ml-2" appDropdown>
				<a style="cursor: pointer;" class="nav-link dropdown-toggle" role="button" >
					<fa-icon [icon]="faCogs"></fa-icon>
					Categories
					<span class="caret"></span>
				</a>

				<div class="dropdown-menu">
					<h3 class="dropdown-header">Categories Management</h3>
                    <div class="dropdown-divider"></div> 
                    <a class="dropdown-item"
						[routerLink]="['/admin', 'categories']"
						>
						<fa-icon [icon]="faListAlt"></fa-icon>
						Published Categories
					</a>
					<div class="dropdown-divider"></div> 
                    <a class="dropdown-item"
						[routerLink]="['/admin', 'categories', 'trashed']"
						>
						<fa-icon [icon]="faTrashAlt"></fa-icon>
						Trashed Categories
					</a>
				</div>
			</li>

			<li class="nav-item dropdown ml-3" appDropdown>
				<a style="cursor: pointer;" class="nav-link dropdown-toggle" role="button" >
					<fa-icon [icon]="faUsers"></fa-icon>
					Users
					<span class="caret"></span>
				</a>

				<div class="dropdown-menu">
					<h3 class="dropdown-header">Users Management</h3>
					<a class="dropdown-item" 
						[routerLink]="['/admin', 'users' , 'new-user']"
						>
						<fa-icon [icon]="faAddUser"></fa-icon>
						New User
                    </a>
                    <div class="dropdown-divider"></div> 
                    <a class="dropdown-item"
						[routerLink]="['/admin', 'users']"
						>
						<fa-icon [icon]="faListUsers"></fa-icon>
						List Users
					</a>

				</div>
			</li>

			<li class="nav-item ml-3">
				<a 
					class="nav-link"
					[routerLink]="['/admin', 'messages']">
					<fa-icon [icon]="faEnvelopeSquare"></fa-icon>
					Messages
				</a>
			</li>
		</ul>
	</nav>
</div> -->

<!-- 
<ng-container >
  
	<mat-sidenav-container class="admin-sidenav-container">
	  <mat-sidenav #sidenav mode="side" opened class="admin-sidenav-sidenav"
				   [fixedInViewport]="options.fixed" [fixedTopGap]="options.top"
				   [fixedBottomGap]="options.bottom">
		<mat-nav-list>
			<a 	mat-list-item
				class="navbar-brand" style="font-style:italic;" [routerLink]="['/admin', 'dashboard']">
				<fa-icon [icon]="faAdmin"></fa-icon>
				Administation
			</a>

			<div mat-list-item class="nav-item dropdown ml-2" appDropdown>
				<a style="cursor: pointer;" class="nav-link dropdown-toggle" role="button" >
					<fa-icon [icon]="faCogs"></fa-icon>
					Categories
					<span class="caret"></span>
				</a>

				<div class="dropdown-menu">
					<h3 class="dropdown-header">Categories Management</h3>
                    <div class="dropdown-divider"></div> 
                    <a class="dropdown-item"
						[routerLink]="['/admin', 'categories']"
						>
						<fa-icon [icon]="faListAlt"></fa-icon>
						Published Categories
					</a>
					<div class="dropdown-divider"></div> 
                    <a class="dropdown-item"
						[routerLink]="['/admin', 'categories', 'trashed']"
						>
						<fa-icon [icon]="faTrashAlt"></fa-icon>
						Trashed Categories
					</a>
				</div>
			</div>

		</mat-nav-list>
	  </mat-sidenav>
  
	  <mat-sidenav-content style="margin-top: 40px;" >
		<div class="container">
			<router-outlet ></router-outlet>
		</div>
	  </mat-sidenav-content>
	</mat-sidenav-container>
  
</ng-container>
  -->



  <mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
				<mat-icon mat-list-icon>home</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="...">Submenu Item 1</a>
				<a mat-list-item href="...">Submenu Item 2</a>
				<mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<mat-list-item>SubSubmenu Item 1</mat-list-item>
					<mat-list-item>SubSubmenu Item 2</mat-list-item>
				</div>
			</div>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
		Main content that resizes properly
	</div>

</mat-sidenav-container>
