<h2 mat-dialog-title>
    <fa-icon [icon]="faPlusCircle"></fa-icon>
    {{ !editMode ? ('COMMON.CREATE' | translate) : ('COMMON.EDIT' | translate) }}
</h2>
<hr>

<form [formGroup]="form" (ngSubmit)="onSubmit()" (change)="formChanged()">
    <div mat-dialog-content>
        <mat-form-field class="full-width" appearance="legacy">
            <mat-label translate>COMMON.TITLE </mat-label>
            <input type="text" matInput formControlName="name_EN" placeholder="Enter section name">
            <mat-error *ngIf="!form.controls.name_EN.valid && form.controls.name_EN.touched">
                {{ 'VALIDATION.REQUIRED' | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width mt-2" appearance="legacy">
            <mat-label translate>COMMON.ORDER </mat-label>
            <input type="number" matInput formControlName="order" placeholder="Enter section order">
            <mat-error *ngIf="!form.controls.order.valid && form.controls.order.touched">
                {{ 'VALIDATION.REQUIRED' | translate }}
            </mat-error>
        </mat-form-field>

    </div>


    <div mat-dialog-actions class="float-right">
        <button type="button" mat-raised-button color="warn" cdkFocusInitial
            (click)="openDialog()">{{'COMMON.CANCEL' | translate}}</button>
        <button type="submit" mat-raised-button color="accent" [disabled]="!form.valid">
            {{ editMode ? ('COMMON.SAVE' | translate) : ('COMMON.CREATE' | translate) }}
        </button>
    </div>
</form>