<div class="container content0">
    <h1>
        <fa-icon [icon]="faEdit"></fa-icon>
        Reset password
    </h1>
    <hr>

    <div *ngIf="errors">
        <div class="alert alert-danger text-center"
            *ngFor='let error of errors'>
            <h2>
                {{error}}
            </h2>
        </div>
    </div>

    <div class="alert alert-success text-center" *ngIf="resetted">
        <h1>Your new password was set successfully. You can now login to your account.</h1>
        <p>
           <a [routerLink]="['/auth']" routerLinkActive="active" >
            Login now
        </a>
        </p>
    </div>

    <form [formGroup]="resetPwdForm" (ngSubmit)="onSubmit()" *ngIf="!resetted">
        <div formGroupName="passwordGroup">
                <mat-form-field class="full-width">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput formControlName="password" id="password" name="password"
                           placeholder="Please enter a new password">
                    <mat-error *ngIf="!resetPwdForm.get('passwordGroup.password').valid && resetPwdForm.get('passwordGroup.password').touched">
                        Password length must be at least 8 charcters
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width mt-3">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput formControlName="cpassword" id="cpassword" name="cpassword"
                           placeholder="Please repeat your new password">
                    <mat-error *ngIf="!resetPwdForm.controls.passwordGroup.valid && resetPwdForm.controls.passwordGroup.touched">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
        </div>

        <button 
            mat-raised-button
            color="primary"
            class="mt-3" 
            type="submit"
            [disabled]="!resetPwdForm.valid || loading">
            {{ !loading ? 'Reset password' : 'Resetting...' }}
        </button>
    </form>

</div>