<div class="container content0">
    <h1>
        <fa-icon [icon]="faEdit"></fa-icon>
        Reset password
    </h1>
    <hr>

    <div *ngIf="errors">
        <div class="alert alert-danger text-center"
            *ngFor='let error of errors'>
            <h2>
                {{error}}
            </h2>
        </div>
    </div>

    <div class="alert alert-success text-center" *ngIf="resetted">
        <h1>Your new password was set successfully. You can now login to your account.</h1>
        <p>
           <a [routerLink]="['/auth']" routerLinkActive="active" >
            Login now
        </a>
        </p>
    </div>

    <form [formGroup]="resetPwdForm" (ngSubmit)="onSubmit()" *ngIf="!resetted">
        <div formGroupName="passwordGroup">
            <div class="form-group" >
                <label for="password">New Password</label>
                <input 
                    type="password" 
                    name="password"
                    id="password"
                    formControlName="password"
                    class="form-control"
                    placeholder="Enter a new password">

                <span 
                    class="small text-danger"
                    *ngIf="!resetPwdForm.get('passwordGroup.password').valid && resetPwdForm.get('passwordGroup.password').touched">
                    Password length must be at least 8 charcters
                </span>
            </div>

            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input 
                    type="password" 
                    name="cpassword"
                    id="cpassword"
                    formControlName="cpassword"
                    class="form-control"
                    placeholder="Re-Enter your new password">
                
                <span 
                    class="small text-danger"
                    *ngIf="!resetPwdForm.controls.passwordGroup.valid && resetPwdForm.controls.passwordGroup.touched">
                    Password do not match
                </span> 
            </div>
        </div>
        <div class="form-group">
            <button 
                class="btn btn-primary" 
                type="submit"
                [disabled]="!resetPwdForm.valid || loading">
                {{ !loading ? 'Reset password' : 'Resetting...' }}
            </button>
        </div>
    </form>

</div>