@media(min-width: 993px) {
    .container-fluid {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.home {
    background: url(../../assets/images/bg3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    animation: homeAnim 0.4s forwards ease-in-out;
}

@keyframes homeAnim {
    0% {
        transform: translateY(10%);
        opacity: 0.7;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(12, 1, 27, 0.8);
    z-index: 50;
    color: lightgrey;
    padding-top: 100px;
    box-sizing: border-box;
}

.homeContent {
    padding-top: 70px;
    box-sizing: border-box;
    text-align: center;
}

.homeContent h1 {
    font-size: 400%;
    margin: 0 auto;
}

.course-card {
    max-width: 350px;
    height: 600px;
    overflow-y: auto;
}

.course-card img {
    max-width: 350px;
    height: 300px;
}

.course-div {
    float: left;
    margin: 0 15px 25px 0;
}

.category-card {
    width: 250px;
    height: 300px;
    overflow-y: auto;
}

.category-card img {
    width: 250px;
    height: 200px;
}

.category-card .actions {
    position: absolute;
    bottom: 10px;
    color: grey;
}

.category-card .actions a {
    font-size: 12px;
}

.category-card .actions a:hover {
    text-decoration: none;
    color: grey;
    background-color: rgb(236, 236, 236);
}

.category-card .title {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.category-div {
    float: left;
    margin: 0 20px 25px 0;
    animation: categoryDivAnim .4s ease-in-out forwards;
}

.notFoundMsg {
    animation: categoryDivAnim .4s ease-in-out forwards;
}

@keyframes categoryDivAnim {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* course */

.course-card {
    width: 330px;
    height: 430px;
}

.course-card img {
    width: 330px;
    height: 200px;
}

.course-div {
    float: left;
    margin: 0 20px 25px 0;
    animation: courseDivAnim .4s ease-in-out forwards;
}

.course-header-image {
    background-image: url('../../assets/images/course.png');
    background-size: cover;
}

.course-card .actions {
    position: absolute;
    bottom: 10px;
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.course-card .actions div:nth-child(2) {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.course-card .actions a:hover {
    text-decoration: none;
    color: grey;
    background-color: rgb(236, 236, 236);
}

.course-card .langDiv, .course-card .levelDiv {
    float: left;
    margin: 0 5px 5px 0;
    padding: 8px;
    border-radius: 10px;
    font-size: 12px;
}

.notFoundMsg {
    animation: courseDivAnim .4s ease-in-out forwards;
}

@keyframes courseDivAnim {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.course-card div.rate {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 10px 20px 0 10px;
    border-radius: 0 25px 25px 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.course-card div.enrolled {
    position: absolute;
    top: 140px;
    right: 0;
    padding: 5px 10px 5px 20px;
    border-radius: 25px 0 0 25px ;
    background-color: rgba(255, 255, 255, 0.6);
    color: green;
}

@media (max-width: 993px) {
    .course-card {
        width: 330px;
        height: 500px;
    }
}


.btnScroll{
    opacity: 0.6;
    cursor: pointer;
  
}

.btnScroll:hover{
    opacity: .8;
}