.dialog{
    position: relative;
}

.dialog .severity {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
}

.dialog .desc {
    height: 200px;
    padding: 8px;
    background-color: thistle;
    overflow-y: auto;
}

.dialog textarea {
    height: 200px;
    padding: 8px;
    background-color: rgb(214, 202, 214);
}

.dialog .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}