<div class="courseInfoNav" *ngIf="!loading">
    <a [routerLink]="['../']">
        Course Info
    </a>

    <a [routerLink]="[currentUrl]" [queryParams]="{'courseId': courseId}" routerLinkActive="active">
        Comments
    </a>
</div>

<div *ngIf="!loading">
    <h2>
        Comments:
        [ <span [countUp]="count" class="count-numbers">0</span> ]
    </h2>
    <hr>

    <h3 *ngIf="loadedComments.length === 0" class="alert alert-info text-center">
        NO COMMENTS YET.
    </h3>

    <div class="comments-container">
        <div class="loadCommentsDiv">
            <a (click)="loadLess()" *ngIf="showLoadLessBtn && loadedComments.length > 0"> load less </a>
            <a (click)=" loadMore()" *ngIf="showLoadMoreBtn && loadedComments.length > 0"> load more </a>
        </div>

        <div class="clearfix"></div>

        <ul id="comments-list" class="comments-list">
            <li *ngFor="let comment of loadedComments; let i = index">
                <div class="comment-main-level" [class.op06]="deleting">

                    <div class="comment-avatar" *ngIf="comment.userGender.toLowerCase() === 'male'"><img
                            src="../../../../assets/images/male.jpg" alt="no avatar"></div>
                    <div class="comment-avatar" *ngIf="comment.userGender.toLowerCase() === 'female'"><img
                            src="../../../../assets/images/Female.jpg" alt="no avatar"></div>
                    <div class="comment-avatar" *ngIf="comment.userGender.toLowerCase() === 'custome'"><img
                            src="../../../../assets/images/Missing_avatar.svg.png" alt="no avatar"></div>

                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name" [class.by-author]="courseAuthor === comment.userFullName">
                                {{ comment.userFullName }}
                            </h6>
                            <span>{{ comment.commentDateTime | timeago:'live' }}</span>
                            <i (click)="onReply(i)" *ngIf="isAuthenticated && !showReplyForm[i] && !showEditForm[i]">
                                <fa-icon [icon]="faReply"></fa-icon>
                            </i>
                            <i (click)="onLike(comment.id, 'like')"
                                *ngIf="isAuthenticated && !checkUserLikeComment(comment.id, i)">
                                <fa-icon [icon]="faHeart"></fa-icon>
                            </i>
                            <i (click)="onLike(comment.id, 'unlike')"
                                *ngIf="isAuthenticated && checkUserLikeComment(comment.id, i)">
                                <fa-icon [icon]="faHeart" style="color:purple"></fa-icon>
                            </i>
                            <i (click)="onDelete(comment.id)" *ngIf="isAuthenticated && userId === comment.userId">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </i>
                            <i (click)="onEdit(i, comment.text)"
                                *ngIf="isAuthenticated && userId === comment.userId && !showEditForm[i] && !showReplyForm[i] ">
                                <fa-icon [icon]="faEdit"></fa-icon>
                            </i>
                        </div>
                        <div class="comment-content">
                            <pre *ngIf="!showEditForm[i]">{{ comment.text }}</pre>

                            <form [formGroup]="editForm" (ngSubmit)="onSubmitEdit(comment.id)" *ngIf="showEditForm[i]">
                                <mat-form-field class="full-width" appearance="legacy">
                                    <mat-label class="lblNewComment">Edit comment</mat-label>
                                    <textarea matInput formControlName="editedText"
                                        placeholder="Ex. It makes me feel..."></textarea>
                                    <mat-error>This field is required.</mat-error>
                                </mat-form-field>
                                <button type="submit" mat-raised-button color="primary" class="float-right"
                                    [disabled]="!editForm.valid || updating" *ngIf="isAuthenticated">
                                    {{ !updating ? 'Save' : 'Saving...' }}
                                </button>

                                <button type="button" mat-raised-button color="warn" class="float-right mr-2"
                                    (click)="onCancelEdit(i)">
                                    Cancel
                                </button>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <div class="comment-footer">
                            <span class="text-muted">likes ({{ comment.likes.length }})</span>

                            <a (click)="onShowReplies(i)" *ngIf="!showReplies[i]">
                                Replies ({{ comment.replies.length }})
                            </a>
                            <a (click)="onHideReplies(i)" *ngIf="showReplies[i]">
                                Hide Replies ({{ comment.replies.length }})
                            </a>

                        </div>
                    </div>
                </div>
                <ul class="comments-list reply-list" *ngIf="showReplies[i]">
                    <li *ngFor="let reply of comment.replies" [class.op06]="deleting">
                        <div class="comment-avatar" *ngIf="reply.userGender.toLowerCase() === 'male'"><img
                                src="../../../../assets/images/male.jpg" alt="no avatar"></div>
                        <div class="comment-avatar" *ngIf="reply.userGender.toLowerCase() === 'female'"><img
                                src="../../../../assets/images/Female.jpg" alt="no avatar"></div>
                        <div class="comment-avatar" *ngIf="reply.userGender.toLowerCase() === 'custome'"><img
                                src="../../../../assets/images/Missing_avatar.svg.png" alt="no avatar"></div>

                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name" [class.by-author]="courseAuthor === reply.userFullName">
                                    {{ reply.userFullName }}
                                </h6>
                                <span>{{ reply.commentDateTime | timeago:'live' }}</span>
                                <i>
                                    <fa-icon [icon]="faHeart"></fa-icon>
                                </i>
                                <i (click)="onDelete(reply.id)" *ngIf="isAuthenticated && userId === reply.userId">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </i>
                                <i (click)="onEditReply(i, reply.text)"
                                    *ngIf="isAuthenticated && userId === reply.userId && !showEditForm[i] && !showReplyForm[i] ">
                                    <fa-icon [icon]="faEdit"></fa-icon>
                                </i>
                            </div>
                            <div class="comment-content">
                                <pre *ngIf="!showEditReplyForm[i]">{{ reply.text }}</pre>

                                <form [formGroup]="editForm" (ngSubmit)="onSubmitEdit(reply.id)"
                                    *ngIf="showEditReplyForm[i]">
                                    <mat-form-field class="full-width" appearance="legacy">
                                        <mat-label class="lblNewComment">Edit reply</mat-label>
                                        <textarea matInput formControlName="editedText"
                                            placeholder="Ex. It makes me feel..."></textarea>
                                        <mat-error>This field is required.</mat-error>
                                    </mat-form-field>
                                    <button type="submit" mat-raised-button color="primary" class="float-right"
                                        [disabled]="!editForm.valid || updating" *ngIf="isAuthenticated">
                                        {{ !updating ? 'Save' : 'Saving...' }}
                                    </button>

                                    <button type="button" mat-raised-button color="warn" class="float-right mr-2"
                                        (click)="onCancelEditReply(i)">
                                        Cancel
                                    </button>

                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="replyFormDiv" *ngIf="showReplyForm[i]">
                    <form [formGroup]="replyForm" (ngSubmit)="onSubmitReply(comment.id)">
                        <mat-form-field class="full-width" appearance="legacy">
                            <mat-label class="lblNewComment">Reply</mat-label>
                            <textarea matInput formControlName="text" placeholder="Ex. It makes me feel..."></textarea>
                            <mat-error>This field is required.</mat-error>
                        </mat-form-field>
                        <button type="submit" mat-raised-button color="primary" class="float-right"
                            [disabled]="!replyForm.valid || creating" *ngIf="isAuthenticated">
                            {{ !creating ? 'Reply' : 'POSTING...' }}
                        </button>

                        <button type="button" mat-raised-button color="warn" class="float-right mr-2"
                            (click)="onCancelReply(i)">
                            Cancel
                        </button>
                    </form>
                </div>
            </li>
        </ul>


        <div class="newCommentDiv">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label class="lblNewComment">Leave a comment</mat-label>
                    <textarea matInput formControlName="text" placeholder="Ex. It makes me feel..."></textarea>
                    <mat-error>This field is required.</mat-error>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary" class="float-right"
                    [disabled]="!form.valid || creating" *ngIf="isAuthenticated">
                    {{ !creating ? 'POST' : 'POSTING...' }}
                </button>

                <a mat-raised-button color="primary" class="float-right" [routerLink]="['/security', 'auth']"
                    [queryParams]="{'returnUrl': currentUrl}" *ngIf="!isAuthenticated">
                    Login to add a comment.
                </a>
            </form>
        </div>

        <div class="clearfix"></div>
        <ul class="text-danger" *ngIf="errors" style="list-style: disc;">
            <li *ngFor="let error of errors">{{error}}</li>
        </ul>
    </div>

</div>


<div *ngIf="loading">
    <app-loader-course-comments></app-loader-course-comments>

</div>