<div class="container-fluid content0">
    <div class="full-width" *ngIf="!course && !loading">
        <h1 class="alert alert-danger text-center">
            Resource not found.
        </h1>
    </div>
    
    <div class="left">
        <div class="courseHeader" *ngIf="!loading && course">
            <div class="row">
                <div class="col-lg-12">
                    <app-breadcrumb [links]="breadcrumbLinks"></app-breadcrumb>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <h1>
                        {{ course.title_EN }}
                    </h1>
                </div>

                <div class="col-lg-2">
                    <button type="button" class="btnEnroll" *ngIf="isAuthenticated && classId && !loadingEnroll"
                        (click)="onEnroll()" [disabled]="loadingEnroll" [class.loadingEnroll]="loadingEnroll"
                        [class.Enrolled]="isUserEnrolled" [class.NotEnroll]="!isUserEnrolled">
                        <span *ngIf="!isUserEnrolled" class="text-muted">
                            <fa-icon [icon]="faCheck"></fa-icon> Enroll
                        </span>

                        <span *ngIf="isUserEnrolled" class="text-muted">
                            <fa-icon [icon]="faCheckDouble"></fa-icon> Enrolled
                        </span>

                    </button>

                    <a [routerLink]="['/security', 'auth']" [queryParams]="{'returnUrl': currentUrl}"
                        class="btn btn-success btn-sm btn-block" *ngIf="!isAuthenticated">
                        Login to enroll.
                    </a>

                    <span *ngIf="loadingEnroll">
                        <mat-spinner [diameter]="30" color="accent"></mat-spinner>
                    </span>
                </div>
            </div>



            <div class="mt-2" style="display: flex; justify-content: space-between;">
                <p class="small text-muted">
                    <strong>Published: </strong> {{ course.createdBy }} - {{ course.publishedAt | date:'short' }}
                </p>
                <p class="small text-muted">
                    <strong> Last updated: </strong> {{ course.updatedBy }} - {{ course.updatedAt | date:'short' }}
                </p>
            </div>

            <div class="badge badge-secondary float-right">
                <span class="text-light">Likes: {{ course.likes.length }}</span>
            </div>
            <div class="clearfix"></div>
            <div class="btnSessions mt-2">
                <button type="button" mat-flat-button color="primary" class="btn-block" (click)="sidenav.toggle()">
                    Sessions
                </button>
            </div>

        </div>

        <div class="courseInfoNav bg-light" *ngIf="!loading && course">
            <a [routerLink]="['/categories', categoryId, categorySlug, 'course', courseId, courseSlug]">
                <fa-icon [icon]="faInfoCircle"></fa-icon>
                Info
            </a>
            <a [routerLink]="['/categories', categoryId, categorySlug, 'course', courseId, courseSlug, 'comments',courseId]"
                routerLinkActive="active">
                <fa-icon [icon]="faComment"></fa-icon>
                Comments
            </a>

            <a *ngIf="isAuthenticated && !loadingLike" (click)="onLike()" 
                class="btnLike" [class.liked]="isUserLiked" [class.unliked]="!isUserLiked">
                <span *ngIf="!isUserLiked">
                    <fa-icon [icon]="faThumbsUp"></fa-icon> Like
                </span>

                <span *ngIf="isUserLiked">
                    <fa-icon [icon]="faThumbsDown"></fa-icon> Unlike
                </span>
            </a>

            <span *ngIf="loadingLike">
                <mat-spinner [diameter]="20"></mat-spinner>
            </span>


            <a *ngIf="isAuthenticated && !addingToFavorite" (click)="onAddToFavorites()" 
                class="btnFavorite" [class.favorite]="isAddedToFavorites" [class.notFavorite]="!isAddedToFavorites">
                <span *ngIf="!isAddedToFavorites">
                    <fa-icon [icon]="faHeart"></fa-icon> Favorite
                </span>

                <span *ngIf="isAddedToFavorites">
                    <fa-icon [icon]="faHeart"></fa-icon> Favorite
                </span>
            </a>

            <span *ngIf="addingToFavorite">
                <mat-spinner [diameter]="20" color="accent"></mat-spinner>
            </span>


        </div>

        <!-- Loader -->
        <div class="loaderCourseHeader courseHeader" *ngIf="loading">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brcmp">&nbsp;</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col-lg-2">
                    <div class="bt">&nbsp;</div>
                </div>
            </div>
            <div class="createInfo" style="display: flex; justify-content: space-between;">
                <p class="small text-muted">&nbsp;</p>
                <p class="small text-muted"> &nbsp; </p>
            </div>
            <div class="btnSessions">&nbsp; </div>
        </div>

        <div *ngIf="!loading  && course">
            <router-outlet></router-outlet>
        </div>
    </div>



    <div class="right">
        <div class="contentBox" *ngIf="!loading && course">
            <div class="contentBox-header text-center">
                <button mat-flat-button color="" (click)="allExpandState = !allExpandState" class="btn-block">
                    Content ({{ allExpandState ? 'Collapse All' : 'Expand All' }})
                </button>
            </div>
            <div class="contentBox-body">
                <div *ngIf="!loading">

                    <mat-expansion-panel class="exp-panel" [expanded]="allExpandState"
                        *ngFor="let section of course.sections">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong> {{ section.order }}- {{ section.name_EN }}</strong>
                            </mat-panel-title>
                            <mat-panel-description>
                                <span class="small">{{ section.sessions.length }} sessions</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <ul class="list-group">
                            <li routerLinkActive="active" class="list-group-item full-width"
                                *ngFor="let session of section.sessions">
                                <a [routerLink]="['session', session.id, session.slug_EN]"
                                    (click)="onSelectSession(session.id)">
                                    {{ session.order }}- {{ session.title_EN }}
                                    <span class="small text-muted">({{session.duration}} mins.)</span>
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                </div>
            </div>
        </div>


        <div class="card loaderContentList" *ngIf="loading">
            <div class="card-header text-center">
                <h3>
                    &nbsp;
                </h3>
            </div>
            <div class="card-body" style="height: 500px;">
                &nbsp;
            </div>
        </div>

    </div>
</div>


<mat-sidenav-container class="admin-sidenav-container ">
    <mat-sidenav #sidenav class="admin-sidenav" mode="side" [opened]="!navOpened" (mouseenter)="mouseenter()"
        (mouseleave)="mouseleave()" mode="over" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <!-- <mat-nav-list>
            <a mat-list-item [routerLink]="['/admin', 'dashboard']">
                <mat-icon mat-list-icon>dashboard</mat-icon>
                Dashboard
            </a>
        </mat-nav-list> -->
        <!-- <mat-nav-list></mat-nav-list> -->

        <div>
            <button class="btn btn-info btn-block" (click)="sidenav.toggle()">
                Close
            </button>
        </div>

        <div class="contentBox" *ngIf="!loading">
            <div class="contentBox-header text-center">
                <button mat-flat-button color="" (click)="allExpandState = !allExpandState" class="btn-block">
                    Content ({{ allExpandState ? 'Collapse All' : 'Expand All' }})
                </button>
            </div>
            <div class="contentBox-body">
                <div *ngIf="!loading && course">

                    <mat-expansion-panel class="exp-panel" [expanded]="allExpandState"
                        *ngFor="let section of course.sections">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong> {{ section.order }}- {{ section.name_EN }}</strong>
                            </mat-panel-title>
                            <mat-panel-description>
                                <span class="small">{{ section.sessions.length }} sessions</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <ul class="list-group">
                            <li routerLinkActive="active" class="list-group-item full-width"
                                *ngFor="let session of section.sessions">
                                <a [routerLink]="['session', session.id, session.slug_EN]" (click)="sidenav.toggle()">
                                    {{ session.order }}- {{ session.title_EN }}
                                    <span class="small text-muted">({{session.duration}} mins.)</span>
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                </div>
            </div>
        </div>
    </mat-sidenav>

</mat-sidenav-container>

