<div class="container-fluid content0">
    <div class="full-width" *ngIf="!course && !loading">
        <h1 class="alert alert-danger text-center">
            {{ 'COMMON.RESOURCE_NOT_FOUND' | translate }}.
        </h1>
    </div>

    <div class="left">
        <div class="courseHeader" *ngIf="!loading && course">
            <div class="row">
                <div class="col-lg-12">
                    <app-breadcrumb [links]="breadcrumbLinks"></app-breadcrumb>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <h1 *ngIf="currentLang === 'en'">
                        {{ course.title_EN }}
                    </h1>
                    <h1 *ngIf="currentLang === 'fr'">
                        {{ course.title_FR }}
                    </h1>
                </div>

                <div class="col-lg-2">
                    <button type="button" class="btnEnroll" *ngIf="isAuthenticated && classId && !loadingEnroll"
                        (click)="onEnroll()" [disabled]="loadingEnroll" [class.loadingEnroll]="loadingEnroll"
                        [class.Enrolled]="isUserEnrolled" [class.NotEnroll]="!isUserEnrolled">
                        <span *ngIf="!isUserEnrolled" class="text-muted">
                            <fa-icon [icon]="faCheck"></fa-icon> {{ 'COURSE.ENROLL' | translate }}
                        </span>

                        <span *ngIf="isUserEnrolled" class="text-muted">
                            <fa-icon [icon]="faCheckDouble"></fa-icon> {{ 'COURSE.ENROLLED' | translate }}
                        </span>

                    </button>

                    <a [routerLink]="['/security', 'auth']" [queryParams]="{'returnUrl': currentUrl}"
                        class="btn btn-success btn-sm btn-block" *ngIf="!isAuthenticated">
                        {{ 'COURSE.LOGIN_TO_ENROLL' | translate }}.
                    </a>

                    <span *ngIf="loadingEnroll">
                        <mat-spinner [diameter]="30" color="accent"></mat-spinner>
                    </span>
                </div>
            </div>



            <div class="mt-2" style="display: flex; justify-content: space-between;">
                <p class="small text-muted">
                    <strong>{{ 'COURSE.PUBLISHED' | translate }}: </strong> {{ course.createdBy }} -
                    {{ course.publishedAt | date:'short' }}
                </p>
                <p class="small text-muted">
                    <strong> {{ 'COURSE.LAST_UPDATED' | translate }}: </strong> {{ course.updatedBy }} -
                    {{ course.updatedAt | date:'short' }}
                </p>
            </div>

            <div class="badge badge-secondary float-right">
                <span class="text-light">{{ 'COURSE.LIKES' | translate }}: {{ course.likes.length }}</span>
            </div>
            <div class="clearfix"></div>
            <div class="btnSessions mt-2">
                <button type="button" mat-flat-button color="primary" class="btn-block" (click)="sidenav.toggle()">
                    {{ 'COURSE.SESSIONS' | translate }}
                </button>
            </div>

        </div>

        <div class="full-width" *ngIf="errors">
            <div class="alert alert-danger text-center" *ngFor="let error of errors">
                {{ error }}
            </div>
        </div>


        <div class="courseInfoNav bg-light" *ngIf="!loading && course">
            <a [routerLink]="['/categories', categoryId, categorySlug, 'course', courseId, courseSlug]">
                <fa-icon [icon]="faInfoCircle"></fa-icon>
                {{ 'COURSE.INFO' | translate }}
            </a>
            <a [routerLink]="['/categories', categoryId, categorySlug, 'course', courseId, courseSlug, 'comments',courseId]"
                routerLinkActive="active">
                <fa-icon [icon]="faComment"></fa-icon>
                {{ 'COURSE.COMMENTS' | translate }}
            </a>

            <a *ngIf="isAuthenticated && !loadingLike" (click)="onLike()" class="btnLike" [class.liked]="isUserLiked"
                [class.unliked]="!isUserLiked">
                <span *ngIf="!isUserLiked">
                    <fa-icon [icon]="faThumbsUp"></fa-icon> {{ 'COURSE.LIKE' | translate }}
                </span>

                <span *ngIf="isUserLiked">
                    <fa-icon [icon]="faThumbsDown"></fa-icon> {{ 'COURSE.UNLIKE' | translate }}
                </span>
            </a>

            <span *ngIf="loadingLike">
                <mat-spinner [diameter]="20"></mat-spinner>
            </span>


            <a *ngIf="isAuthenticated && !addingToFavorite" (click)="onAddToFavorites()" class="btnFavorite"
                [class.favorite]="isAddedToFavorites" [class.notFavorite]="!isAddedToFavorites">
                <span *ngIf="!isAddedToFavorites">
                    <fa-icon [icon]="faHeart"></fa-icon> {{ 'COURSE.FAVORITE' | translate }}
                </span>

                <span *ngIf="isAddedToFavorites">
                    <fa-icon [icon]="faHeart"></fa-icon> {{ 'COURSE.FAVORITE' | translate }}
                </span>
            </a>

            <span *ngIf="addingToFavorite">
                <mat-spinner [diameter]="20" color="accent"></mat-spinner>
            </span>


        </div>

        <!-- Loader -->
        <div class="loaderCourseHeader courseHeader" *ngIf="loading">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brcmp">&nbsp;</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <h1>&nbsp;</h1>
                </div>
                <div class="col-lg-2">
                    <div class="bt">&nbsp;</div>
                </div>
            </div>
            <div class="createInfo" style="display: flex; justify-content: space-between;">
                <p class="small text-muted">&nbsp;</p>
                <p class="small text-muted"> &nbsp; </p>
            </div>
            <div class="btnSessions">&nbsp; </div>
        </div>

        <div *ngIf="!loading  && course">
            <router-outlet></router-outlet>
        </div>
    </div>



    <div class="right">
        <div class="contentBox" *ngIf="!loading && course">
            <div class="contentBox-header text-center">
                <div class="alert alert-success text-center mat-elevation-z4" *ngIf="isUserEnrolled">
                    <strong><em><span translate>COURSE.PROGRESS</span> : {{donePercentage}}</em></strong>
                    <mat-progress-bar mode="determinate" class="mt-2" [value]="donePercentageN"></mat-progress-bar>
                </div>
                <button mat-flat-button (click)="allExpandState = !allExpandState" class="btn-block">
                    {{ 'COURSE.CONTENT' | translate }}
                    ({{ allExpandState ? ('COURSE.COLLASPE_ALL' | translate) : ('COURSE.EXPAND_ALL' | translate) }})
                </button>
            </div>
            <div class="contentBox-body" >
                <div *ngIf="!loading">

                    <mat-expansion-panel class="exp-panel" [expanded]="allExpandState"
                        *ngFor="let section of course.sections">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong *ngIf="currentLang === 'en'"> {{ section.order }}-
                                    {{ section.name_EN }}</strong>
                                <strong *ngIf="currentLang === 'fr'"> {{ section.order }}-
                                    {{ section.name_FR }}</strong>
                            </mat-panel-title>
                            <mat-panel-description>
                                <span class="small">{{ section.sessions.length }}
                                    {{ 'COURSE.SESSIONS' | translate }}</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <ul class="list-group">
                            <li routerLinkActive="active" class="list-group-item full-width"
                                *ngFor="let session of section.sessions">
                                <mat-checkbox class="mr-1" [checked]="onCheckIsDoneSession(session.id)" color="primary"
                                    (change)="onMarkDoneSession($event, session.id)" *ngIf="isUserEnrolled">
                                </mat-checkbox>
                                <a *ngIf="currentLang === 'en'" [routerLink]="['session', session.id, session.slug_EN]"
                                    (click)="onSelectSession(session.id)">
                                    {{ session.order }}- {{ session.title_EN }}
                                    <span class="small text-muted">({{session.duration}} mins.)</span>
                                </a>
                                <a *ngIf="currentLang === 'fr'" [routerLink]="['session', session.id, session.slug_FR]"
                                    (click)="onSelectSession(session.id)">
                                    {{ session.order }}- {{ session.title_FR }}
                                    <span class="small text-muted">({{session.duration}} mins.)</span>
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                </div>
            </div>
        </div>


        <div class="card loaderContentList" *ngIf="loading">
            <div class="card-header text-center">
                <h3>
                    &nbsp;
                </h3>
            </div>
            <div class="card-body" style="height: 500px;">
                &nbsp;
            </div>
        </div>

    </div>
</div>


<mat-sidenav-container class="admin-sidenav-container ">
    <mat-sidenav #sidenav class="admin-sidenav" mode="side" [opened]="!navOpened" (mouseenter)="mouseenter()"
        (mouseleave)="mouseleave()" mode="over" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

        <div>
            <button class="btn btn-info btn-block" (click)="sidenav.toggle()">
                {{ 'COMMON.CLOSE' | translate }}
            </button>
        </div>

        <div class="contentBox" *ngIf="!loading">
            <div class="contentBox-header text-center">
                <div class="alert alert-success text-center mat-elevation-z4" *ngIf="isUserEnrolled">
                    <strong><em>{{donePercentage}}</em></strong>
                </div>
                <button mat-flat-button color="" (click)="allExpandState = !allExpandState" class="btn-block">
                    {{ 'COURSE.CONTENT' | translate }} ({{ allExpandState ? 'Collapse All' : 'Expand All' }})
                </button>
            </div>
            <div class="contentBox-body">
                <div *ngIf="!loading && course">

                    <mat-expansion-panel class="exp-panel" [expanded]="allExpandState"
                        *ngFor="let section of course.sections">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <strong> {{ section.order }}- {{ section.name_EN }}</strong>
                            </mat-panel-title>
                            <mat-panel-description>
                                <span class="small">{{ section.sessions.length }}
                                    {{ 'COURSE.SESSIONS' | translate }}</span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <ul class="list-group">
                            <li routerLinkActive="active" class="list-group-item full-width"
                                *ngFor="let session of section.sessions">
                                <mat-checkbox class="mr-1" [checked]="onCheckIsDoneSession(session.id)" color="primary"
                                    (change)="onMarkDoneSession($event, session.id)" *ngIf="isUserEnrolled">
                                </mat-checkbox>
                                <!-- <a [routerLink]="['session', session.id, session.slug_EN]" (click)="sidenav.toggle()">
                                    {{ session.order }}- {{ session.title_EN }}
                                    <span class="small text-muted">({{session.duration}} mins.)</span>
                                </a> -->
                                <a *ngIf="currentLang === 'en'" [routerLink]="['session', session.id, session.slug_EN]"
                                    (click)="onSelectSession(session.id); sidenav.toggle();">
                                    {{ session.order }}- {{ session.title_EN }}
                                    <span class="small text-muted">({{session.duration}} mins.)</span>
                                </a>
                                <a *ngIf="currentLang === 'fr'" [routerLink]="['session', session.id, session.slug_FR]"
                                    (click)="onSelectSession(session.id); sidenav.toggle();">
                                    {{ session.order }}- {{ session.title_FR }}
                                    <span class="small text-muted">({{session.duration}} mins.)</span>
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                </div>
            </div>
        </div>
    </mat-sidenav>

</mat-sidenav-container>